* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 14px;
}

window {
    margin: 0px;
    border: 10px solid #1e1e2e;
    background-color: transparent;
    border-radius: 20px;
}

#input {
    padding: 8px 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #E6E1E5;
    font-weight: bold;
    background-color: #696969;
    outline: none;
    border-radius: 20px;
    margin: 10px 13px;
    margin-bottom: 2px;
    font-size: 16px;
}
#input:focus {
    border: 0px solid #E6E1E5;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 20px solid #212121;
    color: #cdd6f4;
    font-weight: bold;
    background-color: #212121;
    border-radius: 20px;
}

#outer-box {
    margin: 0px;
    border: 3px solid #33ccff;
    border-radius: 20px;
    background-color: #212121;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img{
    margin-right: 10px;
}

#img:selected {
    background-color: #89b4fa;
    margin-right: 10px;
    border-radius: 10px;
}

#text:selected {
    color: #cdd6f4;
    color: black;
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
    background-color: #89b4fa;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: #89b4fa;
}
